.container{
  max-width: 1100px;
  margin: auto;
}
header{
  padding: 1rem 2rem;
}
::ng-deep .blue-snackbar{
  background: #9bb9de;
  color: #fff;
  font-weight: 500;
  text-align: center;
}
::ng-deep .blue-snackbar button{
  color: #fff;
  font-weight: 600;
}
